  .container
  {
      margin-top: 40px;
      overflow: hidden;
      
  }

  span
  {
      font-size: 20px;
      font-weight: bold;
  }

  .img-responsive
  {
      height: 300px;
      width: 300px;
  }

 
.heading
 {
    font-size: 25px;
    margin-right: 2500px;
  }
  
  .fa
   {
    font-size: 25px;
   }
  .checked 
  {
    color: orange;
  }
 
.col-md-12
{
  text-align: center;
  float: right;
}

  #a
  {
    height: 180px;
    width: 180px;
  }
