

 <div class="container">
   <div class="row">
    <div class="col-md-4">    
      <img class="img-responsive" src="assets/jbl.jpg">
   </div>
  <div class="col-md-8">
      <span>
        {{title}}
      </span><br><br>      
      <table class="table" *ngFor="let data of arrjbl">
       <tr>
         <th> Price</th>
         <td>{{data.price}}</td>
       </tr>
       <tr>
         <th>Latest Review Date </th>
         <td> {{data.latestReviewDate | date:'full'}} </td>
       </tr>
       <tr>
         <th>Domain</th>
         <td>{{data.domain}}</td>
       </tr>        
        <tr>
          <th> Name </th>
          <td> {{data.name}} </td>
      </tr>      
       <tr>
         <th>Title</th>
         <td>{{data.title}}</td>
       </tr>      
       <tr>
         <th> Category</th>
         <td>{{data.category}}</td>
       </tr>      
       <tr>
        <th>ProductId </th>
        <td> {{data.productId}}</td>
      </tr>      
      <tr>
        <th>CreatedAt </th>
        <td>{{data.createdAt}} </td>
      </tr>      
      <tr>
        <th>Review Count</th>
        <td>{{data.reviewCount}}</td>
      </tr>
     </table>
     </div>
    </div>  

      <!-- <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
     
     <span class="heading">topScores</span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <hr style="border:3px solid #f1f1f1">

      </div>
    </div>  -->
     
    
     
       
             <div class="row">
              <Div class="col-md-4"></Div>
               
                <div class="col-md-8">


                    <span class="heading">topScores</span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                   <span class="fa fa-star"></span>
                   <hr style="border:3px solid #f1f1f1">

                <div id="a" *ngFor="let top of topScores">
                <circle-progress 
                [percent] = [top.score]
                [radius]=50
                [toFixed] = 1
                [showTitle] = true
                [showUnits] = false
                [showSubtitle] = false                
                showBackground = true
                showInnerStroke = true
                clockwise = true
                responsive = true
                startFromZero = false
                showZeroOuterStroke = false>    

                </circle-progress>
                <br>
                <span>{{top.topic}}</span>
                </div>
                   
                </div>  
               </div>  


    
 </div>
