

 
  .container{
      margin-top: 40px;
  }

  span{
      font-size: 20px;
      font-weight: bold;
  }

  .img-responsive{
      height: 300px;
      width: 300px;
  }

  .rating {
    float:left;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}
.heading {
    font-size: 25px;
    margin-right: 2500px;
  }
  
  .fa {
    font-size: 25px;
  }
  .checked {
    color: orange;
  }
 
.col-md-12{
  text-align: center;
  float: right;
}

  #a{
    height: 180px;
    width: 180px;
  }
