/* 
table,th,td {

    margin: 10px 0;
    border: solid 1px #333;
    padding: 2px 4px;
    font: 15px Verdana;

}

th{
    font-weight: bold;

}

.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  } */

  .container{
      margin-top: 40px;
  }

  span{
      font-size: 20px;
      font-weight: bold;
  }

  .img-responsive{
      height: 300px;
      width: 300px;
  }